<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MasterKey</key>
	<string>r9x5XjfbEbRmS6p7aySixoFpOu3wfRyDvwmIQ6CC</string>
	<key>RestAPIKey</key>
	<string>WL8eyGYWJZbcWQHtPbTS2t3mrX7aNC6RyIaUuovL</string>
	<key>ClientKey</key>
	<string>NCh1y6jVfNH1g3DuiOOEtihqtKbH24gpKkwUZ7Qb</string>
	<key>ApplicationID</key>
	<string>SkXv0il3CB3VcS2NJvAf7F7oEu4bPpJBmjqVYCT3</string>
</dict>
</plist>
